.list-view .list-cell:even {
-fx-background-color: White;
-fx-text-fill: black;
-fx-font-size: 16pt;
-fx-font-family: "Arial";

}
.list-view .list-cell:odd {
-fx-background-color: #80d4ff;
-fx-text-fill: black;
-fx-font-size: 16pt;
-fx-font-family: "Arial";

}
